In [6]:
import numpy as np
import pandas as pd
from pandas import Series, DataFrame
import seaborn as sns

import sys
import os
sys.path.append(os.path.abspath(".."))

Analizamos la tabla de datos en busca de valores nulos.

In [7]:
df = pd.read_csv("../DataSet/PokemonData.csv")

from src.exploracion import comprobar_nulos

comprobar_nulos(df)

       Valores_nulos
Type2            386

Analizamos la tabla de datos en busca de duplicados.

In [8]:
from src.exploracion import comprobar_duplicados

comprobar_duplicados(df)

Empty DataFrame
Columns: [Num, Name, Type1, Type2, HP, Attack, Defense, SpAtk, SpDef, Speed, Generation, Legendary]
Index: []

Analizamos la tabla para ver el rango de las variables.

In [9]:
from src.exploracion import rango

rango(df)

            Min  Max
Num           1  721
HP            1  255
Attack        5  190
Defense       5  230
SpAtk        10  194
SpDef        20  230
Speed         5  180
Generation    1    6

Incoherencias

In [10]:
from src.exploracion import deteccion_incoherencias

deteccion_incoherencias(df)

ImportError: cannot import name 'deteccion_incoherencias' from 'src.exploracion' (c:\Users\alvar\OneDrive\Desktop\Documentos máster evolve academy\Poyecto EDA evolve academy\src\exploracion.py)

Distribución inicial de columnas.

In [ ]:
from src.exploracion import descripcion_categorias

descripcion_categorias(df)

{'Name': {'n_categorías': 800,
  'categorías_más_comunes': {'Skrelp': 1,
   'Dragalge': 1,
   'Clauncher': 1,
   'Clawitzer': 1,
   'Helioptile': 1,
   'Heliolisk': 1,
   'Tyrunt': 1,
   'Tyrantrum': 1,
   'Spritzee': 1,
   'Aromatisse': 1}},
 'Type1': {'n_categorías': 18,
  'categorías_más_comunes': {'Water': 112,
   'Normal': 98,
   'Grass': 70,
   'Bug': 69,
   'Psychic': 57,
   'Fire': 52,
   'Rock': 44,
   'Electric': 44,
   'Ground': 32,
   'Ghost': 32}},
 'Type2': {'n_categorías': 18,
  'categorías_más_comunes': {'Flying': 97,
   'Ground': 35,
   'Poison': 34,
   'Psychic': 33,
   'Fighting': 26,
   'Grass': 25,
   'Fairy': 23,
   'Steel': 22,
   'Dark': 20,
   'Dragon': 18}}}